{% extends 'base.html.twig' %}

{% block title %}Votre panier
{% endblock %}

{% block body %}
	<h1>Votre panier</h1>

	{% if items | length > 0 %}

		<table class="table">
			<thead>
				<tr>
					<th>Produit</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for item in items %}
					<tr>
						<td>
							{{ item.product.name }}
						</td>
						<td>
							{{ item.product.price }}
						</td>
						<td>
							<a href="{{ path('cart_add', {'id' : item.product.id}) }}?returnToCart=true" class="text-primary me-2">
								<i class="fas fa-plus"></i>
							</a>
							{{ item.qty }}
							<a href="{{ path('cart_decrement', {'id' : item.product.id }) }}" class="text-primary ms-2">
								<i class="fas fa-minus"></i>
							</a>
						</td>
						<td>
							{{ item.total }}
						</td>
						<td>
							<a href="{{ path('cart_delete', {'id' : item.product.id}) }}" class="text-danger">
								<i class="fas fa-trash"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3">Total :
					</td>
					<td colspan="2">{{ total }}</td>
				</tr>
			</tfoot>
		</table>
		<br>
		{% if app.user %}

			<h2 class="mt-5">Confirmer votre commande en remplissant ce formulaire</h2>
			{{ form_start(confirmationForm, {'action' : path('purchase_confirm')}) }}

			{{ form_widget(confirmationForm) }}

			<button type="submit" class="btn btn-success mt-3">Je confirme ma commande</button>

			{{ form_end(confirmationForm) }}

		{% else %}

			<h2>Vous devez être connecter pour confirmer cette commande</h2>
			<a href="{{ path('security_login') }}" class="btn btn-success">Connexion</a>
			ou <a href="">Créer un compte</a>
		{% endif %}
	{% else %}
		<p class="mt-4">Le panier est vide !
			<a href="{{path('homepage')}}" class="text-success">Retour a la page d'accueil</a>
		</p>
	{% endif %}
{% endblock %}
